.slide{
    animation: slide-in 500ms linear;
}
.slide-this{
  transform: translateX(0);
  transition: all 500ms;
  /* animation: menuslide 300ms linear ; */
}
@keyframes slide-in {
    from {
      transform: translatey(-100%);
    }
  
    to {
      transform: translatey(0%);
    }
  }
@keyframes menuslide{
  from{
    transform: translatex(100%)
  }
  to{
    transform: translateX(0);
  }
}